.nav-button{
    border:3px solid lightseagreen;
    padding: 5px;
    display: inline-block;

}

.nav-button-selected{
    border:3px solid greenyellow;
    padding: 5px;
    display: inline-block;
}

.nav-button-form{
    width: max-content;
}

.nav-button-input{
    background-color: transparent;
    color: black;
    width: 250px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    border:1px solid red;
    display: inline-block;
}

.nav-button-input-selected{
    background-color: transparent;
    color: forestgreen;
    width: 250px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    border:1px solid darkred;
    display: inline-block;
}

.icon-left{
    display: inline-block;
    border:1px solid red;
    width:30px;
    height: 30px;
}